#image-box {
  margin: 0;
  /*text-align: center;*/
  padding: 50px 0 50px 10px;
}

#image-box article,
#image-box article .image-item,
#image-box article .image-item img {
  width: 150px;
}

#image-box article .image-item img {
  height: 150px;
}

#image-box article{
  margin: 4px;
  /*display: inline;*/
  /*display: -moz-inline-box;*/
  display: inline-block;
  /*border-style: solid;
  border-width: 1px;
  border-tag-item: #dddddd;*/
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
